<div class="module-books-addForm">
    <h3>Добавление книги</h3>
    <form method="post" enctype="multipart/form-data">
        {% include 'html/form.twig' with {block : data.block, module : data.module, action: "uploadBookFile"} %}
        <input type="file" name="file">
        <input type="submit" value="загрузить">
    </form>
</div>