{# @var data.book \Books\Module\Books\Entity\Book #}
<div class="module-books-show" itemscope itemtype="http://schema.org/Book">
    {% set book = data.book %}

    <a itemprop="url" href="{{ book.getReadUrl() }}">Читать</a>
    {% if(book.getIsbn()) %}
        <div >ISBN: <span itemprop="isbn">{{ book.getIsbn() }}</span></div>
    {% endif %}

    <h2 itemprop="name">{{ book.getTitle() }}</h2>
    {% if(book.getHasCover()) %}
        <img itemprop="image" src="{{ book.getCoverUrl() }}">
    {% endif %}

    <div class="annotation" itemprop="description">{{ book.getAnnotation() | raw }}</div>
    {% if(book.getAuthors()) %}
        <h3>авторы</h3>
        <ul class="authors">
            {% for author in book.getAuthors() %}
                <li itemprop="author"  property="itemprop" itemscope itemtype="http://schema.org/Person" itemid="{{ author.getUrl() }}">
                    <a href="{{ author.getUrl() }} "><span itemprop="name">{{ author.getFirstName() }} {{ author.getMiddleName() }} {{ author.getLastName() }}</span></a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if(book.getTranslators()) %}
        <h3>переводчики</h3>
        <ul class="authors">
            {% for translator in book.getTranslators() %}
                <li itemprop="author"  property="itemprop" itemscope itemtype="http://schema.org/Person"
                    itemid="{{ translator.getUrl() }}">
                    <a href="{{ translator.getUrl() }} "><span itemprop="name">{{ translator.getFirstName() }} {{ translator.getMiddleName() }} {{ translator.getLastName() }}</span></a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if(book.getGenres()) %}
        <h3>Жанры</h3>
        <ul class="genres">
            {% for genre in book.getGenres() %}
                <li><a href="{{ genre.getUrl() }}"><span itemprop="genre">{{ genre.getTitle() ? genre.getTitle() : genre.getName()}}</span></a></li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if(book.getFiles()) %}
        <h3>файлы</h3>
        <ul class="files">
            {% for file in book.getFiles() %}
                <li><a href="{{ file.getFileUrl() }}">{{ file.getFileType() }}</a>{{ file.getSize()/1024/1024 }} Мб</li>
            {% endfor %}
        </ul>
    {% endif %}
    <h3>Язык</h3>

    <div class="lang" itemprop="workTranslation"
         content="{{ book.getSourceLanguageCode() }}">{{ book.getLanguageName() }}</div>
    <h3>Язык оригинала</h3>

    <div class="lang" itemprop="inLanguage"
         content="{{ book.getSourceLanguageCode() }}">{{ book.getSourceLanguageName() }}</div>

</div>