<div class="books-genre">
    {% for book in data.books %}
        {% include 'module/books/line.twig' with {book : book} %}
    {% endfor %}
    <div style="clear:both;"></div>
    {% include 'html/paging.twig' with {pageLinks : data.pageLinks} %}
</div>
