{# @var data.book \Books\Module\Books\Entity\Book #}
<div class="module-books-justAdded">
    {% set book = data.book %}
    <h2>{{ book.getTitle() }}</h2>

    <div class="annotation">{{ book.getAnnotation() | raw }}</div>
    {% if(book.getAuthors()) %}
        <h3>авторы</h3>
        <ul class="authors">
            {% for author in book.getAuthors() %}
                <li>{{ author.getFirstName() }} {{ author.getLastName() }} {{ author.getMiddleName() }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if(book.getTranslators()) %}
        <h3>переводчики</h3>
        <ul class="authors">
            {% for translator in book.getTranslators() %}
                <li>{{ translator.getFirstName() }} {{ translator.getLastName() }} {{ translator.getMiddleName() }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if(book.getFiles()) %}
        <h3>файлы</h3>
        <ul class="files">
            {% for file in book.getFiles() %}

                <li><a href="{{ file.getFileUrl() }}">{{ file.getFileType() }}</a>{{ file.getSize()/1024/1024}} Мб</li>
            {% endfor %}
        </ul>
    {% endif %}

    <h3>Язык</h3>
    <div class="lang">{{ book.getLanguageName() }}</div>
    <h3>Язык оригинала</h3>
    <div class="lang">{{ book.getSourceLanguageName() }}</div>
</div>