<div class="line" style="clear:both;" itemscope itemtype="http://schema.org/Book">
    <div style="float:left; margin: 10px">
        <img  itemprop="image" style="max-height: 90px" src="{{ book.getCoverUrl() }}">
    </div>
    <div>
        {% for author in book.getAuthors() %}
            <a itemprop="author" itemscope itemtype="http://schema.org/Person"
               itemid="{{ author.getUrl() }}" href="{{ author.getUrl() }}">
                <span itemprop="name">{{ author.getFirstName() }}
                    {{ author.getMiddleName() }}
                    {{ author.getLastName() }}</span>
            </a>
        {% endfor %}
        :
        <a itemprop="url" href="{{ book.getUrl() }}"><span itemprop="name">{{ book.getTitle() }}</span></a>
    </div>
    {% if(book.getGenres()) %}
        <ul class="genres">
            {% for genre in book.getGenres() %}
                <li><a href="{{ genre.getUrl() }}"><span
                                itemprop="genre">{{ genre.getTitle() ? genre.getTitle() : genre.getName() }}</span></a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>