<div class="featured-module module clearfix">
    <div class="box-heading"><h3>Популярные книги</h3></div>
    <div class="slides">
        {% for book in data.books %}
            <div class="product-box grid_3">
                <a class="img-cover" href="{{ book.getUrl() }}">
                    <img src="{{ book.getCoverUrl() }}" alt="product-image">
                </a>
                <div class="product-meta">
                    <div class="title"><a href="#">{{ book.getTitle() }}</a></div>
                    <img src="/static/css/olympia/images/stars-5.png" alt="5-stars-ratting">
                </div>
            </div>
        {% endfor %}
    </div>
</div>