{# @var data.book \Books\Module\Books\Entity\Book #}
<div class="module-books-read">
    {% set book = data.book %}
    <h2>{{ book.getTitle() }}</h2>
    <div>
        {{ book.getHtml() | raw }}
    </div>
</div>