<div class="relatived">
    <form action="/search/">
        <input aria-hidden="true" type="submit" value="&#x2610;" id="search"
               class="search-button icomoon">
        <input type="text" name="search" placeholder="название..." value="{{ data.searchText }}"/>
    </form>
</div>


<div class="books-search">
    {% for book in data.books %}
        {% include 'module/books/line.twig' with {book : book} %}
    {% endfor %}
    <div style="clear:both;"></div>
    {% include 'html/paging.twig' with {pageLinks : data.pageLinks} %}
</div>
