.html-text-main h2{
    font-family: Arial;
    font-weight: normal;
    font-size: 18pt;
    margin: 0;
    padding: 10px 0 0 10px;
}

.html-text-main code{
    margin-left: 10px;
    margin: 10px  0 0 10px;
}

.html-text-main p{
    padding: 10px 0 0 10px;
}