{% if(data.user.getIsGuest()) %}
    <form method="post">
        {% include 'html/form.twig' with {block : data.block, module : data.module, action: "login"} %}
        <span class="email">email</span>
        <div class="input"><input type="text" name="email" value="{{ data.email }}"></div>
        <span class="password">пароль</span>
        <div class="input"><input type="password" name="password" value=""></div>
        <input class="submit login" type="submit" value="войти">
    </form>
{% endif %}