<div class="grid_7 account-links">
    {% if(data.user.getIsGuest()) %}

        {% for network in data.networks %}
            <a href="{{ network.getAuthorizeLink() }}">{{ network.getName() }}</a>
        {% endfor %}
    {% endif %}
    {% if(data.user.getIsGuest() != 1) %}
        {% set user = data.user.getUser() %}
        <form id="logout_form" method="post" action="/">
            {% include 'html/form.twig' with {block : data.block, module : data.module, action: "logout"} %}
            <a href="/my"><i class="icomoon" aria-hidden="true"></i>{{ user.getName() }}</a>
            <a href="/my"><i class="icomoon" aria-hidden="true" data-icon="&#x2191;"></i>Мой профиль</a>
            <a onclick="$('#logout_form').submit();" href="#"><i class="icomoon" aria-hidden="true"
                                                                 data-icon="&#x2617;"></i>Выход</a>
        </form>
    {% endif %}
</div>
