.paging {
    margin: 0;
    padding: 10px 0px 10px 0px;
}

.paging li {
    display: inline-block;
    min-width: 20px;
    height: 20px;
    border: 1px solid #777;
    text-align: center;
}

.paging li a {
    color: #222;
}

.paging li a.current {
    font-weight: bold;
    text-decoration: none;
}

.paging .delimiter {
    display: inline-block;
    min-width: 5px;
    height: 20px;
}