<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    {% include 'html/head.twig' with {page : page, debug : debug} %}
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
    <link rel="stylesheet" href="/static/css/olympia/css/font-awesome-ie7.css">
    <![endif]-->
</head>

<body>
<div id="wrapper">
    <!-- top user block-->
    <div id="top-wrapper">
        <div class="container_12">
            {% include 'internal/block.twig' with {debug : debug, block : 'top', data : data} %}
        </div>
    </div>
    <!-- top menu -->
    <header>
        {% include 'internal/block.twig' with {debug : debug, block : 'head', data : data} %}
    </header>
    <!-- content -->
    <div id="main-container">
        <div class="container_12 full-container">
            <div id="column-left" class="grid_12">
                {% include 'internal/block.twig' with {debug : debug, block : 'content', data : data} %}
            </div>
        </div>
    </div>
    <!-- footer-->
    <footer>
        {% include 'internal/block.twig' with {debug : debug, block : 'footer', data : data} %}
    </footer>
</div>
</body>