<div class="latest-blog module clearfix">
    <div class="box-heading"><h3>Книжный домик</h3></div>
    <p>Рады приветствовать Вас в нашем книжном домике! Устраивайтесь поудобнее и приготовьтесь читать, ведь у нас есть, что Вам предложить!</p>
</div>