<div class="container_12 header-inner relatived">
    <div id="logo" class="grid_3">
        <a href="/"><img src="/static/css/logo.png" title="На главную" alt="На главную"/></a>
    </div>
    <nav class="grid_8 right omega">
        <div class="mobile-menu-trigger"><span class="icomoon mobile-icon-menu" aria-hidden="true">&#xe008;</span><a
                    class="menu-label">Выберите страницу</a></div>
        <ul class="primary-nav">
            <li><a class="active-page" href="/">Главная</a></li>
            <li><a href="/books/">Книги</a>
                <div class="submenu_wrapper column4">
                    {% for genres in data.genres %}
                    <ul>
                    {% for genre in genres %}
                        <li><a href="/genre/{{ genre.name }}">{{ genre.title }}</a></li>
                    {% endfor %}
                    </ul>
                    {% endfor %}
                </div>
            </li>
            <li><a href="/">О сайте</a></li>
            <li><a href="/">Контакты</a></li>
            <li class="search-wrapper">
                <a href="#" aria-hidden="true" data-icon="&#x2610;" class="search-popup-trigger icomoon"></a>
                <div id="top-search-wrapper">
                    <div class="relatived">
                        <form action="/search/">
                            <input aria-hidden="true" type="submit" value="&#x2610;" id="search"
                                   class="search-button icomoon">
                            <input type="text" name="search" placeholder="название..."/>
                        </form>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
</div>